<!DOCTYPE html>
<html>
  <head>
    <title>Website Stats</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h2>Search Keyword Tracking</h2>
	Total hits = <%= data.total_hits%><br/>
	Total Unique Visitors = <%= data.unique_visitors_count %>
	<br />
  	Hits Rate Per Visitor id <ol> <% Object.keys(data.visitor_hits).forEach(function(key){
									%>
									
										<li>Visitor id <%=key%> hits = <b><%=data.visitor_hits[key]%></b></li>
									
									<%
								})%></ol>

    <table border=1>
		<tr>	
			<th colspan='3'>Max Keyword Used </th>
		</tr>	
		<tr>
		<% Object.keys(data.maxKeywords).forEach(function(key){
			%>
				<th>Flag <%=key%> </th>
			<%
		})%>
		</tr>
		<tr>
			<% Object.keys(data.maxKeywords).forEach(function(key){
			%>
			
				<td>
						<table border=1>
							<tr>
								<th> keywords </th>
								<th> count </th>
							</tr>
							
								
								<%
									if( data.maxKeywords[key] != null ) 
										{
											var keywords = data.maxKeywords[key];
											Object.keys(keywords).forEach(function(word){
												%>
												
													<tr>
															<td><%=word%></td>
															<td><%=keywords[word]%></td>
													</tr>
													
												<%
											});
											
											
										}
										else
										{
											
										}
								%>
							
						</table>
				</td>
				
			<%
			})%>
		</tr>
	</table>
	
	
  </body>
</html>